.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.tableHeader {
  background-color: #f1f1f1;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #2c3e50;
}

.tableHeader:first-child {
  border-top-left-radius: 15px;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
}

.tableRowItems {
  cursor: auto;
}

.tableRowItems:nth-child(odd) {
  background-color: #f9f9f9;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  color: grey;
}

.tableFooter {
  background-color: #f1f1f1;
  padding: 8px 0px;
  width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  color: #2c3e50;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

.activeButton {
  color: white;
  background: #185adb;
}

.inactiveButton {
  color: #2c3e50;
  background: #f9f9f9;
}

.searchbar-wrapper {
  margin-left: auto;
  width: 50%;
}

.form-control:focus,
.form-control:hover,
select:focus,
select:hover {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: #6c757d !important;
}

select {
  max-width: 120px;
}

select option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-CRUD {
  font-size: 1rem !important;
}

.accordion-button {
  padding: 1rem 0.2rem !important;
}

@media (max-width: 425px) {
  .searchbar-wrapper {
    width: 100%;
  }

  .btn-CRUD {
    font-size: 0.5rem !important;
  }
}
