.dropdown-item {
  padding: 0.5rem 1rem !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--color-complementario-I) !important;
}

.dropdown-menu {
  padding: 0 !important;
}

.dropdown-menu button {
  padding: 0.5rem 1rem !important;
}

@media (max-width: 768px) {
  nav {
    font-size: 1.2rem !important;
  }
}
